
body {
    font-family: 'Kanit', sans-serif;
    margin: 20px;
    background-image: linear-gradient(rgba(0,0,0,0.56),rgba(0, 0, 0, 0.445)),url(pic/562000008655802.jfif);
    background-size: cover;          /* ปรับให้ภาพเต็มหน้าจอ */
  background-position: center;     /* จัดตำแหน่งตรงกลาง */
  background-repeat: no-repeat;    /* ไม่ให้ภาพซ้ำ */
  background-attachment: fixed;    /* ภาพพื้นหลังอยู่กับที่ */
  }

  h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #db4949;
    padding: 10px 0;
  }

  .food-list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
  }

   .food-item {
    background: linear-gradient(45deg, #64ffaf, #f4fff6fb);
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    width: 220px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform 0.2s ease;
  }
  
  .food-item:hover {
    transform: translateY(-5px);
  }

  .food-image {
    width: 100%;
    height: 140px;
    object-fit: cover;
  }

  .food-info {
    padding: 15px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .food-category {
    font-size: 0.9rem;
    color: #ff6a8f;
    margin-bottom: 8px;
    text-transform: capitalize;
  }

  .food-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .food-price {
    font-size: 1.1rem;
    color: #fc8966;
    font-weight: bold;
  }
  button {
 --glow-color: rgb(107, 255, 235);
 --glow-spread-color: rgba(155, 247, 137, 0.781);
 --enhanced-glow-color: rgb(107, 238, 140);
 --btn-color: rgb(121, 152, 255);
 border: .25em solid var(--glow-color);
 padding: 1em 3em;
 color: var(--glow-color);
 font-size: 15px;
 font-weight: bold;
 background-color: var(--btn-color);
 border-radius: 2em;
 outline: none;
 box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
 text-shadow: 0 0 .5em var(--glow-color);
 position: relative;
 transition: all 0.3s;
 top: 1cm;
 left: 21cm;
}

button::after {
 pointer-events: none;
 content: "";
 position: absolute;
 top: 120%;
 left: 0;
 height: 100%;
 width: 100%;
 background-color: var(--glow-spread-color);
 filter: blur(2em);
 opacity: .7;
 transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

button:hover {
 color: var(--btn-color);
 background-color: var(--glow-color);
 box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

button:active {
 box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}
/* From Uiverse.io by andrew-demchenk0 */ 
.container {
  display: flex;
  flex-direction: row;
  height: 10%;
    
    left: 10%;
    padding: 10px 5;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(rgba(120, 255, 102, 0.911),rgba(173, 166, 166, 0.712));
    position: fixed;
     top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.radio-wrapper {
  position: relative;
  height: 38px;
  width: 84px;
  margin: 3px;
}

.radio-wrapper .input {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
}

.btn {
  --primary: #ffbccc;
  --shadow-primary: #ffd16d;
  --color: rgb(51, 50, 50);
  --font-size: 9px;
  --shadow-primary-hue: 180;
  --shadow-secondary-hue: 60;
  --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
  --clip: polygon(11% 0, 95% 0, 100% 25%, 90% 90%, 95% 90%, 85% 90%, 85% 100%, 7% 100%, 0 80%);
  --border: 5px;
  --shimmy-distance: 5;
  --clip-one: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
  --clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
  --clip-three: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
  --clip-four: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  --clip-five: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  --clip-six: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
  --clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
  color: var(--color);
  text-transform: uppercase;
  font-size: var(--font-size);
  letter-spacing: 3px;
  position: relative;
  font-weight: 900;
  width: 100%;
  height: 100%;
  line-height: 38px;
  text-align: center;
  transition: background 0.2s, 0.3s;
}

.input:checked + .btn {
  --primary: #8B00FF;
  --shadow-primary: #00e572;
}

.input:hover + .btn {
  --primary: #cc133c;
  --font-size: 11px;
}

.btn:after, .btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: var(--clip);
  z-index: -1;
}

.btn:before {
  background: var(--shadow-primary);
  transform: translate(var(--border), 0);
}

.btn:after {
  background: var(--primary);
}

.btn__tag {
  position: absolute;
  padding: 1px 4px;
  letter-spacing: 1px;
  line-height: 1;
  bottom: -5%;
  right: 5%;
  font-weight: normal;
  color: hsl(0, 0%, 0%);
  font-size: var(--label-size);
}

.btn__glitch {
  position: absolute;
  top: calc(var(--border) * -1);
  left: calc(var(--border) * -1);
  right: calc(var(--border) * -1);
  bottom: calc(var(--border) * -1);
  background: var(--shadow-primary);
  text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
  clip-path: var(--clip);
  animation: glitch 2s infinite;
  display: none;
}

.input:hover + .btn .btn__glitch {
  display: block;
}

.input:checked + .btn .btn__glitch {
  display: block;
  animation: glitch 5s infinite;
}

.btn__glitch:before {
  content: '';
  position: absolute;
  top: calc(var(--border) * 1);
  right: calc(var(--border) * 1);
  bottom: calc(var(--border) * 1);
  left: calc(var(--border) * 1);
  clip-path: var(--clip);
  background: var(--primary);
  z-index: -1;
}

@keyframes glitch {
  0% {
    clip-path: var(--clip-one);
  }

  2%, 8% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }

  6% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }

  9% {
    clip-path: var(--clip-two);
    transform: translate(0, 0);
  }

  10% {
    clip-path: var(--clip-three);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }

  13% {
    clip-path: var(--clip-three);
    transform: translate(0, 0);
  }

  14%, 21% {
    clip-path: var(--clip-four);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }

  25% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }

  30% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }

  35%, 45% {
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * -1%));
  }

  40% {
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * 1%));
  }

  50% {
    clip-path: var(--clip-six);
    transform: translate(0, 0);
  }

  55% {
    clip-path: var(--clip-seven);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }

  60% {
    clip-path: var(--clip-seven);
    transform: translate(0, 0);
  }

  31%, 61%, 100% {
    clip-path: var(--clip-four);
  }
}

.number {
  background: var(--shadow-primary);
  color: #323232;
  font-size: 5.5px;
  font-weight: 700;
  letter-spacing: 1px;
  position: absolute;
  width: 15px;
  height: 6px;
  top: 0;
  left: 81%;
  line-height: 6.2px;
}
.logo {
  width: 65px;
    cursor: pointer;
    position: fixed;
    
}
.logo1 {
  position: relative;
  height: 30px;
  width: 30px;
    cursor: pointer;
  margin: 3px;
  right: -3cm;
}
footer {
  bottom: 100;
  width: 100%;
  background-color: #ccc;
  padding: 1em;
}

/* เพิ่ม margin ให้ปุ่มห่างจากฟุตเตอร์ */
button {
  margin-bottom: 50px; /* ปรับตามความสูงของฟุตเตอร์ */
}

.autoslide-container {
  width: 100%;
  max-width: 1920px;
  height: 600px;
  overflow: hidden;
  position: relative;
  margin: 40px auto;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.autoslide-track {
  display: flex;
  width: 105%; /* 5 รูป */
  height: 100%;
  animation: slideMove 25s infinite;
}

.autoslide {
  flex: 0 0 100%;
  height: 100%;
}

.autoslide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Animation เคลื่อนไหว */
@keyframes slideMove {
  0% { transform: translateX(0%); }
  20% { transform: translateX(0%); }

  25% { transform: translateX(-100%); }
  40% { transform: translateX(-100%); }

  45% { transform: translateX(-200%); }
  60% { transform: translateX(-200%); }

  65% { transform: translateX(-300%); }
  80% { transform: translateX(-300%); }

  85% { transform: translateX(-400%); }
  100% { transform: translateX(-400%); }
}